[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
beautifulsoup4 = "*"
requests = "*"
time-python = "*"
selenium = "*"
webdriver-manager = "*"
pyyaml = "*"
twilio = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
